abbr --command git a add
abbr --command git c commit
abbr --command git cane commit --amend --no-edit
abbr --command git co checkout
abbr --command git cob checkout -b
abbr --command git com checkout main
abbr --command git pl pull --rebase --autostash
abbr --command git pu push
abbr --command git puf push --force
