{{- $personal := promptBool "Personal?" -}}
{{- if eq $personal true -}}
  {{- $work := false -}}
  {{- $email = "jory@jory.dev" -}}
{{- else -}}
  {{- $email = promptString "Email?" -}}
  {{- $work := promptBool "Work?" -}}
{{- end -}}

format: yaml

data:
  name: "Jory Irving"
  email: {{ $email | quote }}
  personal: {{ $personal | quote }}
  is:
    personal: {{ $personal -}}
    work: {{ $work -}}