[user]
  name = Jory Irving
  email = jory@jory.dev
[github]
  user = joryirving
[format]
  signOff = false
[core]
  editor = nano
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[merge]
  summary = true
[push]
 default = current
[help]
	autocorrect = 1
[commit]
  gpgsign = false
[alias]
  yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
  a = add
  ap = add -p
  amc = am --continue
  b = branch
  bm = branch --merged
  bnm = branch --no-merged
  c = commit
  cl = clonr
  ca = commit --amend
  cane = commit --amend --no-edit
  cf = commit --fixup
  cm = commit --message
  co = checkout
  cob = checkout -b
  com = checkout master
  cp = cherry-pick
  d = diff
  dc = diff --cached
  dom = diff origin/master
  fo = fetch origin
  g = grep --line-number
  mbhom = merge-base HEAD origin/master
  mff = merge --ff-only
  ol = log --pretty=oneline
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pu = push
  puf = push --force
  pushup = push --set-upstream origin
  pl = pull --rebase --autostash
  r = restore
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase --interactive
  rl = reflog
  riom = rebase --interactive origin/master
  rpo = remote prune origin
  s = status -sb
  ss = commit --message snapshot --no-gpg-sign
  su = submodule update
  um = ! git fetch origin main:main && git checkout main
  wd = diff --patience --word-diff
  # remove double git
  git = !git
[merge]
  ff = only
[pull]
  rebase = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[push]
  autoSetupRemote = true
[pull]
  ff = only
