[user]
  name = Jory Irving
  email = jory@jory.dev
[github]
  user = joryirving
[format]
  signOff = false
[core]
  editor = nano
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[commit]
  gpgsign = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[help]
	autocorrect = 1
[init]
  defaultBranch = main
[merge]
  summary = true
  ff = only
[push]
  default = current
  autoSetupRemote = true
[pull]
  rebase = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
