#!{{ lookPath "bash" }}

# Install nano syntax highlighting
if [ ! -d ~/.nano ]; then
    git clone https://github.com/scopatz/nanorc.git ~/.nano
fi

# Install mise addons
{{ lookPath "mise" }} install

# Set Fish as default
# sudo echo "$(which fish)" >> /etc/shells
# chsh -s $(which fish)
