{{- $personal := false -}}{{/* true if this is a personal machine */}}

{{- $personal = promptBool "personal" -}}

{{- $workEmail := "" -}}
{{- if not $personal }}
{{-   $workEmail = promptString "Enter your work email for git commits" -}}
{{- end }}

format: yaml
data:
  name: "Jory Irving"
  personal: {{ $personal | quote }}
  workEmail: {{ $workEmail | quote }}
