[user]
  name = Jory Irving
{{- if .personal }}
  email = jory@jory.dev
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAimDt26wJWaZLR0yUeDHCD4hvPBMa1tD3Uos/3kehZ0
{{- else }}
  email = {{ .workEmail }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICqvMKxuiIVq0y5yQQrHDXuIBxpch0hkYxGMOq7XyZEi
{{- end }}
{{- if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
[gpg]
  format = ssh
{{- end }}
{{- if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
[gpg "ssh"]
{{- if (eq .chezmoi.os "darwin") }}
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  program = "op-ssh-sign-wsl.exe"
{{- end }}
{{- end }}
[format]
  signOff = false
[core]
  autocrlf = input
  editor = nano
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
{{- if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
  gpgsign = true
{{- else }}
  gpgsign = false
{{- end }}
[merge]
  ff = false
[pull]
  rebase = true
[rebase]
  autostash = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[push]
  autoSetupRemote = true
