[tools]
"aqua:ajeetdsouza/zoxide" = "latest"
"aqua:atuinsh/atuin" = "latest"
"aqua:budimanjojo/talhelper" = "latest"
"aqua:cilium/cilium-cli" = "latest"
"aqua:cloudflare/cloudflared" = "latest"
"aqua:cli/cli" = "latest"
"aqua:derailed/k9s" = "latest"
"aqua:fastfetch-cli/fastfetch" = "latest"
"aqua:FiloSottile/age" = "latest"
"aqua:fish-shell/fish-shell" = "latest"
"aqua:fluxcd/flux2" = "latest"
"aqua:getsops/sops" = "latest"
"aqua:go-task/task" = "latest"
"aqua:helm/helm" = "latest"
"aqua:helmfile/helmfile" = "latest"
"aqua:jqlang/jq" = "latest"
"aqua:kubernetes/kubectl" = "latest"
"aqua:kubernetes-sigs/krew" = "latest"
"aqua:kubernetes-sigs/kustomize" = "latest"
"aqua:mikefarah/yq" = "latest"
"aqua:mitsuhiko/minijinja" = "latest"
"aqua:opentofu/opentofu" = "latest"
"aqua:sachaos/viddy" = "latest"
"aqua:siderolabs/talos" = "latest"
"aqua:starship/starship" = "latest"
"aqua:stern/stern" = "latest"
"aqua:twpayne/chezmoi" = "latest"
"aqua:yannh/kubeconform" = "latest"
